@import "../../bower_components/normalize.styl/normalize.styl"
@import nib
@import main

$green    = #1abc9c
$blue     = #3498db
$purple   = #9b59b6
$yellow   = #f1c40f
$orange   = #f39c12
$red      = #e74c3c
$pink     = #d2527f
$dark     = #34495e
$silver   = #95a5a6
$white    = #FEFEFE
$black    = rgba(0, 0, 0, 0.8)
$daftpunk = #15d880

$colors = "green" $green, "blue" $blue, "purple" $purple, "yellow" $yellow, "orange" $orange, "red" $red, "pink" $pink, "dark" $dark, "silver" $silver, "white" $white, "black" $black

for color in $colors
  .{color[0]}
    background-color color[1]

    &.pressed
      background-color darken(color[1], 30%)

html
  box-sizing border-box
  -ms-touch-action manipulation
  touch-action manipulation

*,
*:before,
*:after
  box-sizing inherit

body
  font-family Cabin
  font-weight 400
  letter-spacing 0.02em
  background-color $white
  color $black
  cursor default

.clearfix
  &:before
  &:after
    content " "
    display table

  &:after
    clear both

a
  color $silver

.container
  margin 0 auto
  width 600px
  @extend .clearfix

.tile
  float left
  width 200px
  height 200px
  cursor pointer
  font-size 8em
  text-align center
  line-height 1.55
  color rgba($white, .3)
  transition background-color .2s, transform .2s, box-shadow .2s

  &.pressed
    transform scale(1.1, 1.1)
    box-shadow 0 0 50px -10px $black
    z-index 10

.new-game
  display inline-block
  cursor pointer
  color $pink
  border 3px solid $pink
  border-radius 10px
  padding 10px 30px

  &:hover
    background-color $pink
    color $white

@media (max-width 768px)
  .container
    width 100%

  .tile
    width (100/3)%
    height auto
    font-size 5em


// Daft punk

body.daftpunk
  color $white
  background-color #101012

  .tile
    background-color transparent
    color $daftpunk
    border 3px solid $daftpunk
    border-radius 10px
    box-shadow 0 0 80px -10px $daftpunk
    width 190px
    margin 5px

    &.pressed
      background-color $daftpunk
      color $black

  .new-game
    color $daftpunk
    border-color $daftpunk

    &:hover
      background-color $daftpunk
      color $white

  @media (max-width 768px)
    .tile
      width (95/3)%
      margin (2/3)%
