// colors

$turquoise      = #1abc9c
$green-sea      = #16a085

$emerald        = #2ecc71
$nephritis      = #27ae60

$peter-river    = #3498db
$belize-hole    = #2980b9

$amethyst       = #9b59b6
$wisteria       = #8e44ad

$wet-asphalt    = #34495e
$midnight-blue  = #2c3e50

$sun-flower     = #f1c40f
$orange         = #f39c12

$carrot         = #e67e22
$pumpkin        = #d35400

$alizarin       = #e74c3c
$pomegranate    = #c0392b

$clouds         = #ecf0f1
$silver         = #bdc3c7

$concrete       = #95a5a6
$asbestos       = #7f8c8d

$white          = #FEFEFE
$black          = #111111
$light-black    = lighten($black, 10%)
$gray           = darken(invert($black), 30%)
$light-gray     = #F5F5F5

$colors = "turquoise" $turquoise, "green-sea" $green-sea, "emerald" $emerald, "nephritis" $nephritis, "peter-river" $peter-river, "belize-hole" $belize-hole, "amethyst" $amethyst, "wisteria" $wisteria, "wet-asphalt" $wet-asphalt, "midnight-blue" $midnight-blue, "sun-flower" $sun-flower, "orange" $orange, "carrot" $carrot, "pumpkin" $pumpkin, "alizarin" $alizarin, "pomegranate" $pomegranate, "clouds" $clouds, "silver" $silver, "concrete" $concrete, "asbestos" $asbestos, "white" $white, "black" $black, "light-black" $light-black, "gray" $gray, "light-gray" $light-gray

$btn-default-color = $btn-primary-color = $btn-success-color = $btn-info-color = $btn-warning-color = $btn-danger-color = $white

$brand-primary  = $wet-asphalt
$brand-success  = $emerald
$brand-warning  = $sun-flower
$brand-danger   = $alizarin
$brand-info     = $peter-river


// border-radius

$border-radius-base   = 0px
$border-radius-large  = 0px
$border-radius-small  = 0px


// padding

$padding-base-vertical    = 10px
$padding-base-horizontal  = 16px

$padding-large-vertical   = 14px
$padding-large-horizontal = 20px

$padding-small-vertical   = 7px
$padding-small-horizontal = 14px

$padding-xs-vertical      = 5px
$padding-xs-horizontal    = 9px


// others

$font-family-sans-serif = Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif


// class generator

for $color in $colors
  .{$color[0]}
    background-color $color[1]

    if lightness($color[1]) > 80%
      color $black

    else
      color $white

    &.transparent
      background-color rgba($color[1], 0.8)

  .text-{$color[0]}
    color $color[1]


// bootstrap import

@import "../../bower_components/bootstrap-stylus/stylus/bootstrap"


// custom

button:focus
  outline 0 !important

.form-control
  border-radius 0
  background $white
  border 2px solid transparent
  color $black
  box-shadow none

  &:focus
    box-shadow none

button-variant($color, $background)
  color $color
  background-color $background

  &:hover
    background-color darken($background, 20%)

  &:active
    background-color darken($background, 30%)

  &, &:hover, &:active, &.active
    box-shadow none

button-size($padding-vertical, $padding-horizontal, $font-size, $line-height)
  padding ($padding-vertical * 1) ($padding-horizontal * 1.5)
  font-size $font-size
  line-height $line-height

  @media (min-width $screen-sm-min)
    padding ($padding-vertical * 1.5) ($padding-horizontal * 2)

.btn-default
  button-variant($btn-default-color, $btn-default-bg)

.btn-primary
  button-variant($btn-primary-color, $btn-primary-bg)

.btn-success
  button-variant($btn-success-color, $btn-success-bg)

.btn-info
  button-variant($btn-info-color, $btn-info-bg)

.btn-warning
  button-variant($btn-warning-color, $btn-warning-bg)

.btn-danger
  button-variant($btn-danger-color, $btn-danger-bg)

.btn.btn-lg
  button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large)

.btn.btn-sm
  button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small)

.btn.btn-xs
  button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small)

.btn
  button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base)
