doctype html
html
  head
    meta(charset='utf-8')
    title simonsimon
    meta(name='viewport', content='width=device-width, user-scalable=no, minimal-ui')
    link(href='https://fonts.googleapis.com/css?family=Cabin:400,500,700', rel='stylesheet')

    // build:css(dist) styles/stylesheets.css
    link(href='styles/app.css', rel='stylesheet')
    // endbuild

  body
    // build:jsVendor(.) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:jsScripts(app) scripts/scripts.js
    script(src='scripts/simonsimon.js')
    // endbuild
